{% extends "base.html" %}

{% block title %}Appointment{% endblock %}

{% block content %}
<h1 class="nhsuk-heading-l app-header">
  Appointment in progress
</h1>
{% if item %}
  <p class="nhsuk-body">Appointment for {{item.patient_name}} (NHS: {{item.patient_id}}) has been started.</p>
  <p class="nhsuk-body">Scheduled time: {{ item.scheduled_time[0:2] }}:{{item.scheduled_time[2:4]}}</p>
  <p class="nhsuk-body">Date of birth: {{ item.patient_birth_date[0:4] }}/{{ item.patient_birth_date[4:6] }}/{{ item.patient_birth_date[6:8] }}</p>
  <p class="nhsuk-body">Appointment status: {{ item.status }}</p>
{% else %}
  <p class="nhsuk-body">No appointment details available.</p>
{% endif %}
{% endblock %}
