name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ruff:
    name: Ruff linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .tool-versions

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run ruff check
        run: uv run ruff check .

      - name: Run ruff format check
        run: uv run ruff format --check .

  pyright:
    name: Pyright type checking
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .tool-versions

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run pyright
        run: uv run pyright

  secrets:
    name: Scan for secrets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # By default, the checkout action just checks out the latest commit, creating a "shallow" clone.
          # If we only scanned the latest commit, we might miss leaks that are not in the latest commit
          # but are still present in previous commits on the branch.
          #
          # We don't want to checkout (and scan) the entire repository though, because that would mean
          # 'bad' commits (including false-positives) block the CI for unrelated PRs, even if they're not
          # on main, or part of the new branch.
          #
          # To keep PRs independent of each other, we can fetch with an "infinite" depth, rather than
          # the special 0 value of actions/checkout, which means "fetch all history for all tags and branches"
          fetch-depth: 0x7fffffff # INFINITE_DEPTH

      - name: Scan secrets
        uses: ./.github/actions/scan-secrets
